docker
myst-parser
plumbum
pre-commit
pytest
pytest-rerunfailures
# `pytest-xdist` is a plugin that provides the `--numprocesses` flag,
# allowing us to run `pytest` tests in parallel
pytest-xdist
python-dateutil
requests
sphinx
sphinx-book-theme
sphinx-copybutton
sphinx-last-updated-by-git
tabulate
tenacity
