name: Mirror to GitLab

on:
  push:
  delete:
  create:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to GitLab
        uses: yesolutions/mirror-action@v0.7.0
        with:
          REMOTE: https://git.mpi-cbg.de/rost/sequencing-docker-stacks.git
          GIT_USERNAME: oauth2
          GIT_PASSWORD: ${{ secrets.GITLAB_TOKEN }}
