name: Mirror to GitLab

on:
  push:
  delete:
  create:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Mirror to GitLab
        uses: yesolutions/mirror-action@v0.6.0
        with:
          REMOTE: https://oauth2:${{ secrets.GITLAB_TOKEN }}@git.mpi-cbg.de/rost/sequencing-docker-stacks.git
          GIT_USERNAME: github-actions
          GIT_EMAIL: actions@github.com
